

.menu-wrapper{
    margin-top: 20px;

} 

.menu-wrapper a{
    padding: 10px;
    background-color: rgb(202, 20, 20);
    border-radius: 10px;
    margin: 10px;
    border: 1px solid #000;
    color: rgb(242, 244, 243);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
} 

option{
    background-color: #000;
    color: white;
    padding: 20rem;
    margin-bottom: 50px;
    font-size: larger

}

/* .lang{
    font-size: larger;
} */
